.card{
    background-color: black;
    border: 1px solid goldenrod;
    color: white;
    font-family: Verdana, sans-serif;

    width: 400px;
    height: 400px;

    padding: 20px;
    margin: 20px auto;

    text-align: center;
}

.card > img {
    max-width: 100%;
    border-radius: 5px;
}

.card > h3{
    font-size: 26px;
}


.btn > button{
    background-color:  black;
    color: white;
    width: 100px;
    height: 50px;
    margin: 5px;
}

.btn{
    display: flex;
    justify-content: space-between;
}